<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilestar.rongo.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.GoodDetail.GoodDetailActivity"/>
        <activity android:name=".activity.Home.live.activity.LiveRoomActivity"/>
        <activity android:name=".activity.Purchase.AddressAddActivity"/>
        <activity android:name=".activity.Purchase.AddressListActivity"/>
        <activity android:name=".activity.Purchase.PaymentMethodAddActivity"/>
        <activity android:name=".activity.Purchase.PaymentMethodActivity"/>
        <activity android:name=".activity.Purchase.PurchaseActivity"/>
        <activity android:name=".activity.Login.ChangeDeviceActivity" />
        <activity android:name=".activity.Login.LoginActivity" />
        <activity android:name=".activity.Login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Home.MainActivity">

        </activity>
    </application>

</manifest>